*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.container{
    
    width: 70%;
    margin: auto;
}
.wrap{
    width: 100%;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
}
.pre, .next{
    width: 10px;

}
.centro{
    display: flex;
    justify-content: center;
    width: calc(100% - 20px);
    height: 80vh;
}
.centro > img{
    width: 100%;
    
}
nav{
    position: absolute;
    display: flex;
     
    left: 50%;
    bottom: 20px;
    border-radius: 20px;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.467);
    color: white;
    padding: 20px;
}
nav > div > i {
    margin: auto 20px;
}
.blu{
    color: blue
}